.d-flex {
    display: flex;
    flex-direction: column;
}

.navbarCustom {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.small {
    font-size: 0.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #666;
    padding: 0 10px;
}

.small::before,
.small::after {
    content: "";
    flex: 0 0 40px;
    height: 1px;
    background-color: #dee2e6;
    margin: 0 8px;
}

.welcomeText {
    font-size: 1.25rem;
    color: #333;
    font-weight: 500;
}

.logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutBtn:hover {
    background-color: #d32f2f;
    color: white;
}

.logoutBtn:focus {
    outline: none;
}

.sidebar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
    max-height: 100vh;
    width: 250px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
}

.sidebar h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
}



.link {
    text-decoration: none;
    color: #007bff;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.link:hover {
    border-bottom: 1px solid red;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
}

.link.active {
    background-color: #0d6efd;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.nav-item {
    margin-bottom: 6px;
}

.mainContent {
    padding: 10px;
    background-color: #f9f9f9;
    height: calc(100vh - 60px);
}

.animated-society-badge {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.9rem;
    background-color: #0d6efd;
    color: #fff;
    position: relative;
}